* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* ----------------------------------------------------------- */
/* login/signup/admin section */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.content-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 0 2rem;
}

.welcome-section {
    flex: 2;
    color: white;
    padding: 0px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
    margin-right: 80px;
}

.welcome-section h1 {
    font-size: 46px;
    margin-bottom: 10px;
    color: #32CD32;
}

.welcome-section h1:hover {
    font-size: 46px;
    margin-bottom: 10px;
    color: darkgreen;
}

.welcome-section p {
    font-size: 18px;
    margin-top: 10px;
}

.divider {
    width: 2px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 110px;
}

/* login/signup box */
.wrapper {
    width: 320px;
    gap: 100px;
    /* Adds space between flex items */
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 20px;
}

.FP-wrapper {
    margin: auto;
    margin-top: 7em;
    color: white;
    padding: 30px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.wrapper h1, .FP-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box, .FP-wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input, .FP-wrapper input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder, .FP-wrapper input::placeholder {
    color: white;
}


.input-box img, .FP-wrapper img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember.forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn, .FP-wrapper .btn{
    width: 100%;
    height: 45px;
    background: rgb(110, 209, 110);
    backdrop-filter: blur(100px);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.wrapper .btn:hover, .FP-wrapper .btn:hover {
    background: darkgreen;
    color: white;
    transition: .5s ease;

}

.wrapper .register-link, .FP-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    color: rgb(110, 209, 110);
}

/* OFFICIAL HEADER */
.header-image {
    height: 50px;
    width: auto;
    cursor: pointer;
    align-content: left;
    margin-right: 20px;
}

.header-bar {
    top: 0;
    width: 100%;
    height: 50px;
    opacity: 100%;
    display: flex;
    background-color: transparent;
    /* Initially transparent */
    transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.header-bar.scrolled {
    background-color: white;
    /* Change this color if needed */
}

.header-bar2 {
    pointer-events: none;
    transform: translateY();
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: transparent;
    /* Initially transparent */
    transition: background-color 0.1s ease-in-out, box-shadow 0.s ease;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.header-bar2.scrolled {
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgb(110, 209, 110);
    /* Change this color if needed */
}

.logo {
    height: 100px;
    width: auto;
    position: absolute;
    left: 1em;
}

.logo2 {
    display: none;
    height: 10px;
    width: auto;
    position: absolute;
    left: 1em;
}

.header-bar.scrolled .logo2 {
    display: flex;
    height: 100px;
    width: auto;
    position: absolute;
    left: 1em;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 2.4em;
    left: 2%;
}

.nav-links {
    display: flex;
    gap: 70px;
}

.nav-links a,
.header-bar2.scrolled .nav-links a:hover {
    pointer-events: auto;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: color 0.1s;
}

.header-bar2.scrolled .nav-links a {
    color: black;
}

.nav-links a:hover {
    color: #47d347;
}

.login a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 1em;
    right: 2%;
    z-index: 1;
}

.login a:hover,
.header-bar.scrolled .login a:hover {
    text-decoration: none;
    color: #47d347;
    font-weight: bold;
}

.header-bar.scrolled .login a {
    color: black;
}

.main-banner {
    position: relative;
    text-align: center;
    color: white;
    padding: 6em 5%;
    height: 100vh;
    object-fit: cover;
    background: url('pictures/MainMenu.png') no-repeat center/cover;
}

.main-banner h1 {
    position: relative;
    top: 5em;
    font-size: 50px;
    margin-bottom: 20px;
    color: #2aa745;
    text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.7);
}

.main-banner p {
    position: relative;
    top: 14em;
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}
/* COMMUNITY GARDEN PAGE */
.banner {
    position: relative;
    text-align: center;
    color: white;
    padding: 6em 5%;
    height: 100vh;
    object-fit: cover;
    background: url('pictures/CommunityBG.png') no-repeat center/cover;
}

.banner h1 {
    position: relative;
    top: 5em;
    font-size: 50px;
    margin-bottom: 20px;
    color: #2aa745;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.7);
}

.banner p {
    position: relative;
    top: 14em;
    font-size: 18px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
}

.explore {
    position: relative;
    top: 16em;
    background: linear-gradient(to right, rgb(92, 189, 92), rgb(57, 204, 57));
    border: none;
    padding: 15px 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.473);
    z-index: 0;
    cursor: pointer;
}

/* EXPLORE BUTTON SHORT ANIMATION (WHEN HOVERED) */
.explore::after {
    content: "";
    height: 100%;
    width: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(to right, rgb(23, 131, 23), rgb(0, 116, 0));
    transition: 150ms ease-in-out;
}

.explore:hover::after {
    width: 100%;
}

.explore:hover {
    color: white;
}

.background {
    position: relative;
    text-align: center;
    color: white;
    padding: 6em 5%;
    height: 100%;
    object-fit: cover;
}

.main-menu {
    padding: 50vh;
    text-align: center;
    background-image: url("pictures/PopularBG.jpg");
    z-index: 20;
}
/* --------------------------------------------------------------------------------------------- */
/* Community Garden Cards */
.popular-now {
    padding: 20px;
    text-align: center;
    background-image: url("pictures/PopularBG.jpg");
    z-index: 20;
}

.popular-now iframe {
    padding: 50px;
}
.popular-now h2 {
    font-size: 20pt;
    color: #2a5d32;
    margin-top: 30px;
}

.your-community {
    padding: 90px;
    text-align: center;
    background-image: url("pictures/CommunityBG2.jpg");
    z-index: 20;
    font-size: 20pt;
    color: white;
}

.your-community h4{
    color: #2a5d32;
    font-size: 18px;
}
.your-community #comments-container p{
    color: black;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    max-height: 20px;
    margin: 0 auto;
    margin-top: 35em;
    padding: 20px;
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 60px;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
}

.image-box {
    text-align: center;
    
}

.image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #666;
    margin-bottom: 10px;
    border-radius: 4px;
}

.card {
    display: flex;
    align-items: center;
    height: 20em;
    margin: 4em 5em;
    border: 2px solid darkgreen;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f3eed8;
}

.card img {
    position: relative;
    right: 1em;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
}

.card .content {
    flex: 1;
    padding: 10px 20px;
    margin-top: 1em;
    text-align: left;
}

.card .content h3 {
    color: #2a5d32;
}

.community-content .community-stats {
    display: flex;
    position: relative;
    left: 0em;
    top: 1em;
    gap: 5em;
    margin: 10px 0;
}

.card .content .stats {
    display: flex;
    position: relative;
    left: 60em;
    top: 3.5em;
    gap: 5em;
    margin: 10px 0;
}

.card button {
    position: relative;
    left: 95em;
    top: 1em;
    background-color: #2a5d32;
    border: none;
    padding: 15px 60px;
    border-radius: 20px;
    cursor: pointer;
}

.card button a {
    text-decoration: none;
    color: white;
}

.owner {
    display: flex;
    position: relative;
    left: 2em;
    top: 7em;
}

.owner img {
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 0.6em;
    border-radius: 20px;
}

.see-more {
    background-color: #2a5d32;
    border: none;
    padding: 15px 70px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
}

/* Footer */
footer {
    background-color: #2a5d32;
    color: white;
    padding: 3em;
    z-index: -1;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

footer .links a {
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 1.1em;
}

footer .socials {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

footer .socials i {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 3em;
    padding: 1vw;
}

footer .Copyright {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 0.6em;
}

footer .services p {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

.community-section {
    flex: 1;
    padding: 0em;
    text-align: center;
    background: #e2f3df;
}

.card-header {
    display: flex;
    align-items: flex-start;
}

.community-card img {
    max-width: 250px;
    margin-right: 1.5em;
    border-radius: 8px;
}


.community-card {
    background: #fdfdf4;
    border: 3px solid #82c88e;
    border-radius: 12px;
    margin: 1.5em auto;
    padding: 1.5em 2em;
    width: 100%;
    max-width: 100%;
    text-align: left;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}

.community-card h3 {
    color: #2a5d32;
    font-size: 30px;
    flex: 1;
}

.community-card p {
    color: black;
    font-size: 15px;
    flex: 1;
}

.card-content {
    flex: 1;
}

.group-owner {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.group-owner img {
    width: 40px;
    height: 40px;
    margin-right: 0.75em;
    border-radius: 60px;
}

.comment-section {
    padding: 0em;
    border-radius: 8px;
    margin-top: 0.5em;
}

.comment-section textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #2a5d32;
    background-color: rgb(242, 247, 230);
    border-radius: 6px;
    resize: vertical;
    min-height: 60pt;
}

.comment-section button {
    margin-top: 0.5em;
    padding: 1em 2em;
    background-color: #1b6928;
    color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.comment-section button:hover {
    background-color: #06bb1e;
    color: black;
}

.comment {
    border: 1px solid #2a5d32;
    background-color: rgb(242, 247, 230);
    padding: 0.75em;
    margin-top: 0.5em;
    border-radius: 6px;
    color: black;
    position: relative;
}

.comment p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: bold;
}

.edit-form {
    position: absolute;
    top: 0px;
    right: 0px;
}

.edit-form button{
    width: 40px;
    height: 20px;
    color: #282828;
    border-color: transparent;
    background-color: transparent;
    opacity: 0.7;
}

.edit-form button:hover{
    width: 40px;
    height: 20px;
    color: #282828;
    border-color: transparent;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
}

.delete-form {
    position: absolute;
    top: 0px;
    right: 60px;
}

.delete-form button{
    width: 40px;
    height: 20px;
    color: #282828;
    border-color: transparent;
    background-color: transparent;
    opacity: 0.7;
}

.delete-form button:hover{
    width: 40px;
    height: 20px;
    color: #282828;
    border-color: transparent;
    background-color: transparent;
    opacity: 1;
    cursor: pointer;
}

