* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* --------------------------------------------------------------------------------------------- */
/* Recycle Program Contain Start */
.main_background{
    background-image: url(RecyclingImages/recycle-background-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover; /*the background will resize dynamicly = move with the size of the window*/
}

.join_event_content{
    padding-top: 80px;
}

#join_title{
    padding: 2%;
    text-align: center;
    font-size: 2.5rem;
}

.join_form{
    display: flex;
}

#join_event_form{
    display: flex;
    border: 1pt solid black;
    border-radius: 1%;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    padding: 1%;
    width: 50%;
}

#join_table{
    width: 100%;
    word-wrap: break-word; /*Prevents content overflow*/
    table-layout: fixed; /* Ensures consistent column widths */
}

#join_table th{
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
    height: 2em;
    width: 35%;
}

#join_table input, #join_table textarea{
    padding: 1%;
    font-size: 17pt;
    text-align: left;
    width: 100%;
}

#join_buttons_td{
    padding: 6% 0% 3%;
    text-align: center;
}

.join_rs_class{
    display: flex;
    justify-content: center;
    gap: 20%;
}

#join_submit, #join_reset{
    width: 30%;
    font-size: 16pt;
    font-weight: bold;
    background-color: yellow;
    padding: 1%;
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

#join_submit:hover, #join_reset:hover{
    background-color: gold;
    cursor: pointer;
    transform: scale(1.1); /* Slightly enlarge the image */
}

/*Previous Page Button*/

.previuos_button_class{
    display: flex;
    justify-content: center;
    text-align: center;
}

#previous_page_button{
    width: 15%;
    height: auto;
    margin-top: 50pt;
    margin-bottom: 50pt;
    cursor: pointer;
    transition: transform 0.3s ease /* Smooth transition on hover */
}

#previous_page_button:hover{
    transform: scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .banner h1 {
        top: 2em; /*Change banner position*/
        font-size: 3.5rem;
    }
    
    .banner p {
        top: 4.5em; /*Change banner position*/
        font-size: 1.7rem;
    }
    
    #join_title{
        font-size: 2rem;
    }

    #join_event_form{
        width: 60%;
    }

    #join_table th{
        font-size: 14pt;
        width: 40%;
    }

    #join_table input, #join_table textarea{
        font-size: 13pt;
    }

    #join_submit, #join_reset{
        font-size: 14pt;
    }
}

@media screen and (max-width: 767px){
    .banner h1 {
        top: 5.5em; /*Change banner position*/
        font-size: 3rem;
    }
    
    .banner p {
        top: 11em; /*Change banner position*/
        font-size: 1.8rem;
    }
    
    #join_title{
        font-size: 1.5rem;
    }

    #join_event_form{
        width: 70%;
    }

    #join_table th{
        font-size: 9pt;
        width: 40%;
    }

    #join_table input, #join_table textarea{
        font-size: 8pt;
    }

    #join_submit, #join_reset{
        font-size: 9pt;
    }
}
